#row1{
    justify-content: space-around;
}

#cont1{
background-color: red;
width: 55vh;
height: 100vh;

}

#cont2{
    background-color: red;
    width: 55vh;
    height: 100vh;
    
}
#cont3{
    background-color: red;
    width: 55vh;
    height: 100vh;
   
}


#rowfooter{
    margin-top: 10px;

}
#foot1{
    background-color: yellow;
    text-align: end;

}
#foot2{
    background-color: yellow;
    text-align: left;
    
}
